<html><head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="YRQkCC+PTUpnhmoZZsL/FWiklepsQ7bPz+NP8xICaRqB+aEQOrtt/p9nDzPGsTTP/Nqg6xeoYD3TgKKcBwxp7g==">

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <h1>ようこそ <strong>Bookers</strong>  へ！</h1>
<p><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p><p>印象を共有し交換することができます</p>
<p><a href="/books">start</a></p>    	
  

</body></html>